---
const { type, href, id } = Astro.props;
---
<a href={href}>
    <button id={id} class={"button " + (type||"is-primary")}>
        <slot />
    </button>
</a>

<style>
    button.is-primary {
        background-color: #c7d301;
        transition: all 0.5s;
    }
    button.is-primary:hover {
        opacity: 50%;
    }
</style>